{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "numbertheory/styles.css" %}"
</head>
<body>
    <ul>
        <li> Abundant List: {{alist}}</li>
        <li> Deficient List: {{dlist}}</li>
        <li>Perfect List: {{elist}}</li>
    </ul>
   
   
    
</body>
</html>