<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employeeform</title>
</head>
<body>
    <form method="post">
        {{form.as_p}}
        {%csrf_token%}
        <input type="submit" value="Submit">
    </form>
    {% if s %}
    {% for i in s %}
    <p>{{i.ename}}</p>
    <p>{{i.eaddress}}</p>
    <p>{{i.ejoin_dt}}</p>
    <p>{{i.edept}}</p>
    <br/>
    {% endfor %}
    {% endif %}
</body>
</html>