{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edges in Sorted Order</title>
    <link rel="stylesheet" href="{% static "edje/styles.css" %}"/>
</head>
<body>
    <h1>Hello World</h1>
    <ul>
        {% for x,y,z in e_list %}
            <li> ({{x}}, {{y}}) => {{z}} </li>
        {% endfor %}
        </ul>
        
</body>
</html>